body {
    background-color: #121212 !important;
    color: #ccc;
}

h1, h2 {
    color: #ccc;
}

.card {
    border-radius: 0 !important;
    background-color: #222222 !important;
    border: none !important;
    color: #999;
}